.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 2rem auto 6rem;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.headerImage {
  width: 6em;
  height: 6em;
}

.headerHomeImage {
  width: 8em;
  height: 8em;
}

.backToHome {
  margin: 3rem 0 0;
}
