.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  left: 0px; /* Shadow horizontal position */
  top: 0px; /* Shadow vertical position */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal {
  background-color: white;
  position: relative;
  display: block;
  padding-top: 60%; /* width:height = 9:4 */
  flex-basis: 90%;
}

.modalCloseButton {
  background-color: transparent;
  border: none;
  text-align: center;
  color: whitesmoke;
  font-size: 3rem;
}

.modalCloseButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modalAboveRight {
  position: absolute;
  right: 5%;
  top: -20%;
}

.modalBelowLeft {
  position: absolute;
  left: 5%;
  bottom: -20%;
}
